body {
        background-color: black;
}

.main_div {
    height: calc(100% - 100px);
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 25px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.progress-bar {
    font-family: "Lucida Console", "Courier New", monospace;
}
